extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                 h1 #{pagina}
                 blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rutrum dignissim ligula. Mauris molestie egestas enim, a pulvinar turpis elementum at. Maecenas lacinia nisl quam, non tempor nunc ullamcorper quis. Vivamus non tellus sed nisl aliquam euismod eu scelerisque enim. 

                 p Pellentesque consectetur suscipit ligula, ut molestie nibh volutpat at. Vestibulum ornare, ipsum ac tincidunt sagittis, enim ante tincidunt neque, et condimentum nibh dui lobortis lorem. Vivamus vitae condimentum nisl, et egestas ipsum. Morbi lobortis nibh quis neque feugiat, at commodo tellus bibendum.  

                 p Nullam accumsan viverra risus non tempor. Aliquam id consectetur diam. Nam hendrerit condimentum risus et posuere. In ut commodo justo. Nullam commodo luctus sem a faucibus. Nunc dictum at sapien a vestibulum. Nulla ornare arcu ut egestas malesuada. Donec sollicitudin justo ac congue posuere. 

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nullam commodo luctus sem a faucibus. Nunc dictum at sapien a vestibulum. Nulla ornare arcu ut egestas malesuada. Donec sollicitudin justo ac congue posuere. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Nullam commodo luctus sem a faucibus. Nunc dictum at sapien a vestibulum. Nulla ornare arcu ut egestas malesuada. Donec sollicitudin justo ac congue posuere. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Nullam commodo luctus sem a faucibus. Nunc dictum at sapien a vestibulum. Nulla ornare arcu ut egestas malesuada. Donec sollicitudin justo ac congue posuere. 


